@media screen and (min-width: 994px) {
    body, html {
        margin: 0;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    a {
        background-color: transparent;
    }

    .concord {
        background: #1a1a1a;
        box-sizing: border-box;
        overflow: hidden;
        color: #fff;
        position: relative;
        z-index: 0;
        height: 100vh;
        margin-bottom: -7vh;
        transition: height .2s linear;
        max-height: 180vw;
    }

    .header {
        height: 90px;
        width: 100%;
        background: 0 0;
        border: 0;
        position: absolute;
        z-index: 5;
    }

    .svg-a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0;
        vertical-align: middle;
        fill: #e50914;
        display: inline-block;
        line-height: 90px;
    }

    .svg-box-logo {
        height: 45px;
        width: 167px;
        vertical-align: middle;
    }

    .sign-in {
        color: #fff;
        line-height: normal;
        margin: 18px 3% 0;
        padding: 7px 17px;
        font-weight: 400;
        border-radius: 3px;
        font-size: 16px;
        background-color: #e50914;
        float: right;
        text-decoration: none;
    }

    .sign-in:hover {
        background-color: #f40612;
    }
    
    .gradiente {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, .5);
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5) 100%), radial-gradient(50% 120%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0, .7) 100%);
        left: 0;
        top: 0;
        z-index: 4;
    }

    .concord-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #bg {
        width: auto;
        height: 135%;
        position: absolute;
        transform: translate(-70%, -62.5%) scale(1);
        top: 66%;
        left: 70%;
        border: 0;
        z-index: 3;
        opacity: 1;
    }

    .wrapper {
        border-bottom: 2px solid rgb(61,61,61);
    }

    .conteudo-wrapper {
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 5;
        min-height: 550px;
        justify-content: center;
        padding-top: 60px;
        bottom: 44px;
        top: 18%;
        
    }

    button {
        padding: 30px 45px 30px 60px;
        margin: .5em .5em .5em 0;
        font-size: 30px;
    }

    

    .text-maior {
        background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/home/chevron-right-whitespace.png);
        background-repeat: no-repeat;
        background-position: 0 3px;
        margin-left: .5em;
        width: 1em;
        height: .8em;
        display: inline-block;
    }

}

@media screen and (min-width: 660px) and (max-width: 994px) {
    
}

@media screen and (max-width: 660px) {
    
}

button {
    background-color: #e50914;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    color: #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,.45);
}

button:hover{
    background-color:#F40612;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.navegacao {
    height: 150px;
    color: #fff;
    background-color: rgb(20,20,20);
    font-weight: 700;
    position: relative;
}

.nav-item {
    float: left;
    padding-top: 37px;
    height: 108px;
    width: 33%;
    text-align: center;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 0.5;

}

.nav-item:first-child{
    opacity: 1;
    border-bottom: 7px solid rgb(229,9,20);
}

.nav-item:hover{
    opacity: 1;
    cursor: pointer;
}

.nav-item p, img {
    display: block;
    line-height: 1px;
}

.icon {
    height: 32px;
    margin: 0 auto;
}

.texto p {
    text-transform: uppercase;
    letter-spacing: .2px;
    font-size: 30px;
    margin: 0 auto 30px auto;
}

.texto h1 {
    font-size: 80px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
    text-shadow: 1px 1px 10px #000;
}

