<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de Usuários</title>
</head>
<body>
    <h1>Cadastro</h1>
    <form action="./" method="POST">
        <label for="usuario">Usuário</label>
        <input type="text" name="usuario" value="" required/>

        <label for="email">E-mail</label>
        <input type="email" name="email" value="" required/>

        <label for="senha">Senha</label>
        <input type="password" name="senha" value="" required/>

        <input type="submit" name="enviar" value="Cadastrar">

    </form> 

</body>
</html>